<div class="container">
  <div class="row">
    <div class="col-xl-6 col-md-6 col-sm-9 col-12 mx-auto my-5">
      <!-- Material form login -->
      <div class="card">

        <h5
          class="card-header info-color white-text text-center py-4 text-upper text-uppercase z-depth-3 header-font-size">
          <strong>Let's connect</strong>

        </h5>

        <!--Card content-->
        <div class="card-body px-lg-5 pt-0">

          <!-- Form -->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="text-color">

            <!-- email -->
            <div class="md-form">
              <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
              <input mdbInput mdbValidate formControlName="email" autocomplete="email" minLength="8"
                maxLength="50" type="text" class="form-control" id="email">
              <label for="email">User Name</label>
              <mdb-error *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required">
                  User Name is required.
                </div>
              </mdb-error>
              <mdb-success *ngIf="email.valid && (email.dirty || email.touched)">
              </mdb-success>
            </div>

            <!-- Password -->
            <div class="md-form">
              <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
              <input mdbInput mdbValidate formControlName="password" autocomplete="new-password" minLength="10"
                maxLength="25" [type]="hidePassword ? 'password' : 'text'" class="form-control" id="userPassword">
              <i [ngClass]="{
                  'fas fa-eye-slash': hidePassword,
                  'fa fa-eye': !hidePassword
                }" class="eye-position" (click)="togglePasswordType()"></i>
              <label for="userPassword">Password</label>
              <mdb-error *ngIf="password.invalid && (password.dirty || password.touched)">Password is required
              </mdb-error>
              <mdb-success *ngIf="password.valid && (password.dirty || password.touched)">
              </mdb-success>
            </div>

            <div *ngIf="fail">
              <span class="text-danger">{{fail}}</span>
            </div>
            <!-- Sign in button -->
            <button mdbBtn color="info" block="true" class="my-4" type="submit" (keyup.enter)="onSubmit()">Sign
              in</button>

            <!-- Register -->
            <p class="text-right">Not a member?
              <a (click)="needToRegister()" class="blue-text">Join Us</a>
            </p>
          </form>
          <!-- Form -->

        </div>

      </div>
      <!-- Material form login -->
    </div>
  </div>
</div>
